.env
.gcloud.json
.neptune
.venv
.vscode
__pycache__/
experiments/.neptune
experiments/data/*
!experiments/data/chain-of-thought-examples.json
!experiments/data/temporal-clue-puzzles.json
!experiments/data/temporal-clue-puzzles-2.json
!experiments/data/temporal-clue-puzzles-3.json
experiments/logs
experiments/models
experiments/runs
experiments/wandb
experiments/02-llama3.py
wandb