.env
.gcloud.json
.neptune
.venv
.vscode
__pycache__/
experiments/.neptune
experiments/data/*
!experiments/data/chain-of-thought-examples.json
!experiments/data/modded-nanogpt-logs
!experiments/data/temporal-clue-puzzles.json
experiments/logs
experiments/models
experiments/runs
experiments/wandb
experiments/002-llama3.py
runs
wandb